<!DOCTYPE html>
<html lang="{{ g.get( 'html.lang', 'en' ) }}" >
	<head>
		{%- block head %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{% if page_title %}{{ page_title }} | {% endif %}PlainTargetView</title>
		<meta name="description" content="{{ g.get( 'head.description', '' ) }}" />
		<link rel="icon" type="image/png" href="{{ filestat( 'favicon.png' ) }}" />
		<link rel="stylesheet" type="text/css" href="{{ filestat( 'css.css' ) }}" />
		{%- endblock %}
	</head>
	<body class="{%- block body_class %}plaintargetview{% endblock %}">
		<div id="header" class="row">
			<div class="small-12 columns">
				{% block header %}
					{% if page_title %}
						<h1 class="page_title">{{ page_title }}</h1>
					{% endif %}
				{% endblock %}
			</div>
		</div>
		<div id="content" class="row">
			<div class="small-12 columns">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer" class="row">
			<div class="small-12 columns">
				{% block footer %}
				{% endblock %}
			</div>
		</div>
	<script type="text/javascript" src="{{ filestat( 'js.js' ) }}"></script>
    <script type="text/javascript">
    	{% block footer_js %}{% endblock %}
    </script>
	</body>
</html>
