{% set page_title = _( 'Select a camera to view' ) %}

{% extends "base.html" %}

{% block body_class -%}
    {{ super() }}
    camera_select
{%- endblock %}

{% block content %}
	<div class="auto_refresh" data-auto_refresh_seconds="10">
	{% if g.app.neighborhood_watch.items()|length > 0 %}
		<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-3 sources">
			{% for id, sources in g.app.neighborhood_watch.items() %}
				{% for source_id, source in sources.items() %}
					<li>
						<a href="{{ source.view_url }}" title="{{ source.description }}">
							<img class="source" src="{{ source.preview_url }}" />
							<p>{{ source.description }}</p>
						</a>
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% else %}
		<p>{{ _( 'This list of available cameras will automatically refresh efter 10 seconds.' ) }}</p>
	{% endif %}
	</div>

	<p>
		<a href="{{ url_for( 'route_app_reset' ) }}">
			<i class="f-icon fi-refresh"></i>
			{{ _( 'Reset system' ) }}
		</a>
	</p>

	<p>
		<a href="{{ url_for( 'route_app_reboot' ) }}">
			<i class="f-icon fi-refresh"></i>
			{{ _( 'Reboot system' ) }}
		</a>
	</p>

	<p>
		<a href="{{ url_for( 'route_app_shutdown' ) }}">
			<i class="f-icon fi-power"></i>
			{{ _( 'Switch off system' ) }}
		</a>
	</p>

{% endblock %}
