{% extends "base.html" %}

{% block title %}{{ _( 'Overview' )}} | {{ super() }}{% endblock %}

{% block body_class -%}
    {{ super() }}
    index
{%- endblock %}

{% block content %}
	<ul class="small-block-grid-2 medium-block-grid-2 sources">
		{% for source_id, source in g.app.sources.sorted() %}
			<li>
				{% set source_url = url_for( 'route_sources_source_view_auto', source_id = source.id ) %}
				{% set image_url = url_for( 'route_sources_source_latest', source_id = source.id, random = g.app.utc() ) %}
				<a href="{{ source_url }}">
					<img class="source" data-image_url={{ url_for( 'route_sources_source_image', source_id = source_id, index = 123456789 )}} data-source_id="{{ source.id }}" src="{{ image_url }}" /><br/>
				</a>
				{{ source.get_description() }}
			</li>
		{% endfor %}
	</ul>

	<div class="row">
		<div class="small-6 columns">
			<ul>
				<li><a href="{{ url_for( 'route_app_reset' ) }}">{{ _( 'Reset all cameras' ) }}</a></li>
				<li><a href="{{ url_for( 'route_app_restart' ) }}">{{ _( 'Reboot system' ) }}</a></li>
				<li><a href="{{ url_for( 'route_app_shutdown' ) }}">{{ _( 'Shutdown system' ) }}</a></li>
			</ul>
		</div>
		<div class="small-6 columns">
			<p>{{ _( 'Choose your language' ) }}</p>
			<ul>
				{% for lang in g.app.babel.available_languages %}
					<li><a href="{{ url_for( 'switch_language', lang = lang ) }}">{{ lang }}</a></li>
				{% endfor %}
				<li><a href="{{ url_for( 'switch_language', lang = '' ) }}">{{ _( 'Let my device choose' ) }}</a></li>
			</ul>
		</div>
	</div>
{% endblock %}
