{% set page_title = _( 'Rebooting' ) %}

{% extends "base.html" %}

{% block content %}
	<p>{{ _( 'Please wait while the system restarts. The page will automatically reload when the system is ready.' ) }}</p>
	<p class="counter"></p>
{% endblock %}

{% block footer_js %}
	$( document ).ready( function()
	{
		var url = "{{ url_for( 'route_app_reboot_now' ) }}";
		console.log( 'Calling reboot now url.' );
		$.ajax( {
		    'url' : url,
		} )
		var $counter = $( '.counter' );
		url = window.location;
		console.info( url );
		var int = setInterval( function()
		{
			console.info( 'Waiting for the system to go down. Querying ' + url );
			$counter.append( 'o' );
			$.ajax( {
				'url' : url,
			} )
			.fail( function()
			{
				clearInterval( int );
				
				console.info( 'System has gone down. Waiting for it to come up again.' );
				// Site is no longer with us. Refetch until it is.
				setInterval( function()
				{
					$counter.append( 'O' );
					$.ajax( {
						'url' : url,
					} )
					.done( function()
					{
						var url = window.location.origin;
						console.info( 'System is up again. Go to ' + url );
						window.location.href = url;
						return;
					} )
				}, 1 * 1000 );
			} )
			;
		}, 1 * 1000 );
	} );
{% endblock %}
