{% set page_title = _( 'Shutting down' ) %}

{% extends "base.html" %}

{% block content %}
	<p class="hidden ask">{{ _( 'Shut down?' ) }}</p>
	<p class="hidden shutting_down">{{ _( 'Thank you for using PlainTargetView!' ) }}</p>
	<p class="home"><a href="{{ url_for( 'route_app_index' ) }}"><i class="fi-home"></i></a></p>
{% endblock %}

{% block footer_js %}
	$( document ).ready( function()
	{
		var text = $( '.ask' ).text();

		if ( confirm( text ) )
		{
			var url = "{{ url_for( 'route_app_shutdown_now' ) }}";
			$( '.shutting_down' ).show();
			console.log( 'Calling reboot now', url );
			$.ajax( {
				'url' : url,
			} )
		}

	} );
{% endblock %}
