<html>
	<body>
		<script type="text/javascript">
			/**
				@brief		Use LocalStorage to redirect the user to their favorite UI.
				@since		2016-10-30 16:53:20
			**/

			// Assemble an array of all uis.
			var uis = {};
			{% set source_url = url_for( 'route_sources_source_view', source_id = source_id, ui_type = g.app.config[ 'UI_DEFAULT' ] ) %}
			var ui_default = "{{ source_url }}";
			{% for ui_type in g.app.config[ 'UIS_AVAILABLE' ] %}
				{% set source_url = url_for( 'route_sources_source_view', source_id = source_id, ui_type = ui_type ) %}
			uis[ '{{ ui_type }}' ] = "{{ source_url }}";
			{% endfor %}

			// No LocalStorage available? Go to the default UI.
			if ( ! localStorage )
				window.location = ui_default;

			// Does the user have a preferred ui?
			var preferred_ui = localStorage.getItem( 'pvspotter_preferred_ui' );

			if ( typeof( preferred_ui ) == 'string' )
			{
				// Check for validity of this ui type.
				if ( uis[ preferred_ui ] !== undefined )
					window.location = uis[ preferred_ui ];
			}

			// Preference not found? Go to the default.
			window.location = ui_default;

		</script>
	</body>
</html>
