{% extends "ui.html" %}

{% set ui_type = 'classic' %}

{% block head %}
{{ super() }}
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
{%- endblock %}

{% block content %}
	<div class="image source"
		data-csrf="{{ csrf_token }}"
		data-source_id="{{ source.id }}"
		data-source_api="{{ url_for( 'route_sources_source_settings', source_id = source.id ) }}"
		data-source_url="{{ url_for( 'route_sources_source_image', source_id = source.id, index = 123456789 ) }}"
	>
		<div class="buttons">
			<div class="left button_group">
				<div class="row browse mode collapse">
					<div class="small-12 columns">
						<div class="trash browse mode round button" title="{{ _( 'Trash this image' ) }}">
							<i class="fi-trash"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="right button_group">
				<div class="row browse mode collapse">
					<div class="small-12 columns">
						<div class="image_description browse mode round button" title="{{ _( 'Edit image description' ) }}">
							<a href="#" data-reveal-id="image_description_modal">
								<i class="fi-pencil"></i>
							</a>
						</div>
						<div class="live_mode browse mode round button" title="{{ _( 'Go back to live mode' ) }}">
							<i class="fi-play"></i>
						</div>
					</div>
				</div>
				<div class="row live mode collapse">
					<div class="small-12 columns">
						<div class="snapshot round button live mode" title="{{ _( 'Take a snapshot of the currently shown image' ) }}">
							<i class="fi-camera"></i>
						</div>
					</div>
				</div>
				<div class="row browse mode collapse">
					<div class="small-12 columns">
						<div class="navigation_wrapper">
							<ul class="browse mode navigation">
								<li class="hide_for_touch">
									<div class="previous button">
										<i class="fi-arrow-left"></i>
									</div>
								</li>
								<li class="counter">
									<div class="current">0</div>
									<div class="max">0</div>
								</li>
								<li class="hide_for_touch">
									<div class="next button">
										<i class="fi-arrow-right"></i>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row live mode collapse">
					<div class="small-12 columns">
						<div class="browse_mode round button">
							<i class="fi-eye"></i>
						</div>
					</div>
				</div>
				<div class="row collapse">
					<div class="small-12 columns">
						<div class="menu round button" title="{{ _( 'Show menu' ) }}"></i>
							<a href="#" data-reveal-id="view_menu">
								<i class="fi-list" title="{{ _( 'Show menu' ) }}"></i>
							</a>
						</div>
					</div>
				</div>
			</div>  <!-- button_group -->
		</div> <!-- buttons -->

		<div class="image_description text browse mode">
		</div>

		<div class="audio">
			<div class="debug max">0</div>
			<canvas class="volume"></canvas>
		</div>
		<div class="signal_meter">
			<div class="icon">
				<i class="fi-rss"></i>
			</div>
			<div class="value">
				0 ms
			</div>
		</div>
	</div>

	<div id="view_menu" class="reveal-modal round big_ul" data-reveal aria-labelledby="view_menu_title" aria-hidden="true" role="dialog">
		<div class="ptv_tabs">
			<div class="row tab_selectors">
				<div class="small-4 columns tab_selector" data-content_id="camera">
					<i class="fi-camera"></i>
					<label>{{ _( 'Camera' ) }}</label>
				</div>
				<div class="small-4 columns tab_selector" data-content_id="tools">
					<i class="fi-wrench"></i>
					<label>{{ _( 'Tools' ) }}</label>
				</div>
				<div class="small-4 columns tab_selector" data-content_id="info">
					<i class="fi-info"></i>
					<label>{{ _( 'Info' ) }}</label>
				</div>
			</div tab_selectors>

			<div class="tab_content" id="camera">
				<fieldset class="audio_snapshot">
					<legend><i class="fi-microphone"></i>{{ _( 'Audio snapshot' ) }}</legend>
					<ul class="button-group round sensitivity even-3">
						<li><div class="off button">{{ _( 'Off' ) }}</div></li>
						<li><div class="setup button">{{ _( 'Setup' ) }}</div></li>
						<li><div class="on button">{{ _( 'On' ) }}</div></li>
					</ul>
					<div class="volume">0.0</div>
					<div class="help_section">
						<p>
							{{ _( "Use the audio snapshot system to detect gunshots and press the camera button automatically." ) }}
						</p>
						<p>
							{{ _( "Begin by pressing the setup button, firing a round, and then pressing on." ) }}
						</p>
						<p>
							{{ _( "You can then close the menu and let the system automatically blink your latest target hit after each gunshot." ) }}
						</p>
					</div>
				</fieldset>

				<fieldset class="audio_snapshot">
					<legend>{{ _( 'General settings' ) }}</legend>
					<div class="compare_time number input_row">
						<div class="label_container">
							<label for="compare_time_input">{{ _( "How many seconds to compare before and after images" ) }}</label>
						</div>
						<div class="number input_container">
							<input type="number" min="0" id="compare_time_input" />
						</div>
						<div class="description_container">
							{{ _( "After taking an automatic audio snapshot, how many seconds to blink the previous image before returning to capture mode?" ) }}
						</div>
					</div>

			</div tab_content camera>

			<div class="tab_content" id="tools">

				<fieldset class="camera_rename">
					<legend><i class="f-icon fi-pencil"></i> {{ _( 'Rename the camera' ) }}</legend>

					<div class="text input_row">
						<div class="label_container">
							<label for="rename_camera_name">
								{{ _( "This camera is called" ) }}
							</label>
						</div>
						<div class="input_container">
							<input type="text" id="rename_camera_name" value="{{ source.get_description() }}"/>
						</div>
					</div>

				</fieldset>

				<p class="download">
					<a href="{{ url_for( 'route_sources_source_download', source_id = source.id ) }}">
						<i class="f-icon fi-download"></i>
						<span>
							{{ _( 'Download all images in a zip' ) }}
						</span>
					</a>
					<p>{{ _( 'Chrome users: press and hold the link, and then select "Save link".' ) }}</p>
				</p>

				<p class="reset_camera">
					<a href="{{ url_for( 'route_sources_source_reset', source_id = source.id ) }}">
						<i class="f-icon fi-x"></i>
						<span>
							{{ _( 'Reset this camera' ) }}
						</span>
					</a>
				</p>

				<p>
					<a href="{{ url_for( 'route_app_camera_select' ) }}">
						<i class="f-icon fi-eject"></i>
						<span>
							{{ _( 'Select another camera' ) }}
						</span>
					</a>
				</p>

				<p class="reset_ptv">
					<a href="{{ url_for( 'route_app_reset' ) }}">
						<i class="f-icon fi-refresh"></i>
						{{ _( 'Reset system' ) }}
					</a>
				</p>

				<p class="reboot">
					<a href="{{ url_for( 'route_app_reboot' ) }}">
						<i class="f-icon fi-refresh"></i>
						{{ _( 'Reboot system' ) }}
					</a>
				</p>

				<p class="shutdown">
					<a href="{{ url_for( 'route_app_shutdown' ) }}">
						<i class="f-icon fi-power"></i>
						{{ _( 'Switch off system' ) }}
					</a>
				</p>

			</div tab_content settings>

			<div class="tab_content" id="info">
				<p>
					{{ _( 'Program version:' ) }} {{  g.app.config[ 'PTV_VERSION' ] }}
				</p>

				{% include 'ui_select.html' %}

				<div class="select input_row">
					<div class="label_container">
						<label for="language_switcher">{{ _( 'Choose your language' ) }}</label>
					</div>
					<div class="input_container">
						<select id="language_switcher">
							{{ g.app.babel.get_language_options()|safe }}
						</select>
					</div>
				</div>

				<div class="debug_setting">
				  <input id="debug_input" type="checkbox" />
				  <label for="debug_input"> {{ _( 'Enable developer mode to display diagnostic information' ) }}</label>
				</div>

				<p class="debug update_ptv">
					<a class="needs_internet_access" href="#">
						<i class="f-icon fi-arrow-down"></i>
						{{ _( 'Update and reboot' ) }}
					</a>
				</p>
			</div tab_content info>

		</div ptv_tabs>

		<a class="close-reveal-modal" aria-label="{{ _( 'Close' ) }}">&#215;</a>
		<div class="modal_bottom">
			<div class="logo">
				<a href="https://plaintargetview.com" title="Visit PlainTargetView on the web">PlainTargetView</a>
			</div>
			<div class="small round button">
				{{ _( 'Close' ) }}
			</div>
		</div>
	</div>

	<div id="image_description_modal" class="reveal-modal big_ul" data-reveal aria-labelledby="image_description_modal_title" aria-hidden="true" role="dialog">
		<h2 id="image_description_modal_title">{{ _( 'Describe this image' ) }}</h2>

		<div class="row hidden">
			<div class="label_container">
				<label for="image_description_input">
					{{ _( "Description" ) }}
				</label>
			</div>
		</div>
		<div class="row">
			<div class="input_container small-12 columns">
				<input type="text" id="image_description_input" placeholder="Ruger 10/22, 40gr CCI Standard, 50m" value=""/>
			</div>
		</div>
		<div class="row">
			<div class="input_container small-12 columns">
				<input class="save_image_description button" type="button" value="{{ _( 'Save' ) }}"/>
			</div>
		</div>

		<a class="close-reveal-modal" aria-label="{{ _( 'Close' ) }}">&#215;</a>
	</div>
{% endblock %}
