{% if g.app.config[ 'UIS_AVAILABLE' ] | length > 1 %}
	<label for="ui_select"><i class="f-icon fi-eye"></i> {{ _( 'Choose your user interface' ) }}</label>
	<select id="ui_select">
		{% set uis = g.app.config[ 'UIS_AVAILABLE' ] %}
		{% for ui in g.app.get_uis() %}
			<option value="{{ ui }}" data-url="{{ url_for( 'route_sources_source_view', source_id = source.id, ui_type = ui ) }}" {% if ui_type == ui %}selected{% endif %}>{{ uis[ ui ].nice_name }} - {{ uis[ ui ].description }}</option>
		{% endfor %}
		<option value="" data-url="{{ url_for( 'route_sources_source_view_auto', source_id = source.id ) }}"{% if ui_type == ui %}selected{% endif %}>{{ _( 'Use the default user interface' ) }}</a></option>
	</select>
{% endif %}
