.description_container
{
	@include grid-column( $columns : 12 );
	font-size: 80%;
	font-style: italic;
}

/**
	Default settings for all input rows.
**/

.input_row
{
	@include grid-row();

	margin-bottom: 1em;

	.label_container
	{
		@include grid-column( $columns : 4 );

	}

	.input_container
	{
		@include grid-column( $columns : 8 );

		input
		{
			margin-bottom: 0;
		}
	}
}

@media #{ $medium-up }
{
	.text.input_row
	{
		.label_container
		{
			@include grid-column( $columns : 6 );

			label
			{
				line-height: 2.5em;
			}
		}

		.input_container
		{
			@include grid-column( $columns : 6 );
		}
	}
}

/**
	Specialized sizes for various inputs.
**/

.number.input_row
{
	.label_container
	{
		@include grid-column( $columns : 8 );
	}

	.input_container
	{
		@include grid-column( $columns : 4 );
	}

	@media #{ $medium-up }
	{
		.label_container
		{
			@include grid-column( $columns : 8 );
		}

		.input_container
		{
			@include grid-column( $columns : 4 );
		}
	}
}
