.big_ul li
{
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

a
{
	&,
	&:active,
	&:visited
	{
		color: $primary-color;
	}
}

h1.page_title
{
	background-color: $primary-color;
	color: $white;
	margin: 0 0 0.5em 0;
	padding: 0.25em;
}

.plaintargetview
{
	.home
	{
		font-size: 4em;
		text-align: center;
	}
}

@import 'forms';
@import 'ptv_tabs';
@import 'ui';
@import 'ui_classic';
@import 'foundation-icons';
