.ptv_tabs
{
	.tab_selectors
	{
		margin-top: 1em;
		margin-bottom: 1em;

		.tab_selector
		{
			cursor: pointer;
			text-align: center;

			&.selected
			{
				color: $primary-color;

				label
				{
					color: $primary-color;
				}

			}

			i
			{
				font-size: 2em;
			}
		}
	}

	.tab_content
	{
	}
}