@import 'foundation/functions';
$include-html-classes: true;
$include-html-global-classes: $include-html-classes;

$primary-color: #a4009b;
$secondary-color: #c6363c;

$body-bg: white;
$small-font-size: 70%;

$fieldset-padding: 0 rem-calc(20);
$global-rounded: 20px;