body.ui_classic
{
	background-color: black;

	img.preloader
	{
		height : 5em;
		left: 0;
		position : absolute;
		top : -1000em;
		width : 25em;
	}

	.image.layer
	{
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1000;
	}

	.image .image_description.text
	{
		background-color: rgba( 0, 0, 0, 0.75 );
		bottom: 2em;
		color: white;
		height: 2em;
		line-height: 2em;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	.layer.top
	{
		z-index: -100;
	}

	.image.source
	{
		position: absolute;
		top: 0;
		left: 0;
	}

	.buttons
	{
		height: 100%;
		position: relative;
		text-align: right;

		.button_group
		{
			position: absolute;
			top: 0em;

			&.left
			{
				left: 1em;
			}

			&.right
			{
				right: 1em;
			}

			.row
			{
				margin-top: 0.5em;
			}
		}

		.button a
		{
			color: white;
		}

		.button
		{
			font-size: 2rem;
			margin: 0;
			padding: 0;
			text-align: center;

			&.live_mode
			{
				background-color: #00a42a;
			}

			&.snapshot
			{
				&.busy
				{
					background-color: $secondary-color;
				}
			}

			i
			{
				display: block;
				min-width: 1.5em;
			}
		}

	}

	.navigation_wrapper
	{
		ul.navigation
		{
			background-color: white;
			border-bottom-left-radius: $global-rounded;
			border-bottom-right-radius: $global-rounded;
			border-top-left-radius: $global-rounded;
			border-top-right-radius: $global-rounded;
			list-style-type: none;
			margin: 0;
			overflow: hidden;
			padding: 0;

			li
			{
				float: left;
			}

			.button
			{
				margin: 0;
			}

			.counter
			{
				padding-left: 1rem;
				padding-right: 1rem;
				min-width: 4rem;
				text-align: center;

				.max
				{
					font-size: $small-font-size;
				}
			}
		}
	}

	#view_menu
	{
		a
		{
			text-decoration: none;
		}

		.f-icon
		{
			padding-right: 0.5em;
			font-size: 2em;
		}

		span
		{
			line-height: 2em;
		}
	}

	.signal_meter
	{
		color: white;
		line-height: 50%;
		min-width: 6em;
		padding: 0.25em;
		position: absolute;
		left: 1em;
		text-align: center;
		top: 1em;

		.icon
		{
			font-size: 250%;
			animation-name: blinker;
			animation-duration: 2s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;

		}

		@keyframes blinker
		{
			0% { opacity: 1.0; }
			50% { opacity: 0.0; }
			100% { opacity: 1.0; }
		}

		.value
		{
			background-color: rgba( 50, 50, 50, 1 );
			line-height: 1.5em;
		}

		.infin
		{
			font-size: 150%;
		}
	}

	.audio
	{
		position: absolute;
		bottom: 0;

		.max
		{
			background-color: rgba( 50, 50, 50, 1 );
			color: white;
			left: 0;
			padding: 0.25em;
			position: absolute;
			top: 0;
		}
	}

	.audio_snapshot
	{
		.button-group
		{
			padding-left: 0;
		}

		legend i
		{
			font-size: 150%;
			margin-right: 0.5em;
		}

		.volume
		{
			color: gray;
			font-size: 80%;
			text-align: center;
		}

		.button
		{
			color: $label-font-color;
			background-color: $gainsboro;
			margin-bottom: 0;

			&:hover
			{
				color: $label-font-color;
			}

			/** In order to center the button on small monitors. **/
			&.setup
			{
				padding-left: 0;
				padding-right: 0;
			}

			&.selected
			{
				color: white;
				background-color: $primary-color;

				&:hover
				{
					color: white;
				}
			}
		}
	}

	.help_section
	{
		margin-top: 0.5em;
		margin-bottom: 0.5em;

		.toggle
		{
			span.icon
			{
				background-color: $primary-color;
				border-radius: $global-radius;
				color: white;
				cursor: pointer;
				padding: 0.2em 0.5em;
			}
		}
	}

	.logo
	{
		background-image: url( "images/plaintargetview_logo.svg" );
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		color: transparent;
	}

	.logo_flash
	{
		background-color: rgba( 0, 0,0, 0.5 );
		width: 100%;
		height: 100%;
	}

	.as_seen_on_tv
	{
		background-image: url( "/static/favicon.png" );
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		transform: rotate( 345deg );
		position: absolute;
		left: 1em;
		top: 2em;
		width: 10%;
		height: 10%;
	}

	.modal_bottom
	{
		overflow: hidden;

		.logo
		{
			line-height: 3.5em;
			float: left;
			padding-left: 1em;
			padding-right: 1em;

			a
			{
				color: transparent;
			}
		}

		.button
		{
			float: right;
			margin-bottom: 0;
		}
	}

	fieldset
	{
		border-radius: $global-rounded;
	}
}
